cryptography==2.7
matplotlib==3.1.1
pandas==0.25.1
lxml==4.6.3
Cython==0.29.13
numpy==1.17.2
Flask==1.1.1
zipp==0.6.0
keyring==18.0.0
importlib_metadata==0.23
brotli==1.0.7
ipaddr==2.2.0
lockfile==0.12.2
mypy_extensions==0.4.3
ordereddict==1.1
protobuf==3.11.0
pylab==0.0.1
pyOpenSSL==19.1.0
scikit_learn==0.21.3
toml==0.10.0
usercustomize==1.0.0
wincertstore==0.2
